* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-guj.guj.acx -text
/apertium-guj.guj.dix -text
/apertium-guj.guj.rlx -text
/apertium-guj.pc.in -text
/apertium-guj.post-guj.dix -text
/autogen.sh -text
/configure.ac -text
/coverage.sh -text
dev/get-aspell-gu -text
/guj.prob -text
/history.log -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
